:root {
    --azul: #2A7AE4;
    --azul-claro: #5595E9;
    --azul-clarrisimo: #D4E4FA;
    --fundo-footer: #EAF2FD;
    --branco: #FFFFFF;
    --cinza-clarissimo: #F5F5F5;
    --fundo: #E5E5E5E5;
    --cinza-escuro: #464646;
    --cinza-claro: #A2A2A2;
    --borda-input: #C8C8C8;

    --familia-corpo: 'Raleway', sans-serif;

}