@import url(_variaveis.css);
@import url(_reset.css);
@import url(../banner.css);
@import url(../principal.css);
@import url(../footer.css);
@import url(../login.css);
@import url(../produtos.css);
@import url(../produtos-home.css);


body {
    font-family: var(--familia-corpo);
    font-size: var(--tamanho-corpo);

    background-color: var(--fundo);
    background-position: center;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}


